* {
  cursor: none !important; /* Hide the default cursor */
}

.custom-cursor {
  position: fixed;
  width: 36px;
  height: 36px;
  background: url('./assets/cursor.svg') no-repeat center center;
  background-size: contain;
  pointer-events: none;
  z-index: 9999;
  transition: opacity 0.05s ease;
  opacity: 1; /* Start with visible cursor */
}

.cloud-anim {
  position: fixed;
  width: 50px;
  height: 50px;
  background: url('./assets/clouds.png') no-repeat center center;
  background-size: contain;
  pointer-events: none;
  z-index: 9998;
  transform: translate(-50%, -50%);
}
