/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to bottom, #f0f0f0, #e0e0e0); /* Example gradient background */
}


/* Custom Styles */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 10s linear infinite;
}

.brand-logo {
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.brand-logo:hover {
  filter: grayscale(0%);
}

/* Navbar Styles */
.navbar {
  @apply fixed top-0 left-0 right-0 p-6 transition-all duration-300;
  background: rgba(255, 255, 255, 0); /* Transparent initially */
  backdrop-filter: blur(0px); /* No blur effect initially */
  box-shadow: none; /* No shadow initially */
  z-index: 1000; /* Ensure it stays on top of other content */
  padding-top: 20px; /* Adjust based on your navbar height */
}

/* Navbar when scrolled */
.navbar.scrolled {
  @apply bg-white bg-opacity-10; /* Translucent background */
  backdrop-filter: blur(10px); /* Frosted glass effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow */
}

/* Ensure content doesn't go under the navbar */
.pt-16 {
  padding-top: 4rem; /* Adjust based on the height of your navbar */
}

.carousel .slide {
  background: none;
}

.carousel .slide img,
.carousel .slide video {
  max-height: 100vh;
  object-fit: cover;
}

.carousel .control-dots .dot {
  background: white;
}

.carousel .control-dots .dot.selected {
  background: #4F46E5; /* primary color */
}

.carousel .carousel-slider {
  overflow: hidden; /* Ensures that the video doesn't overflow */
}

.group:hover .group-hover\:bg-opacity-90 {
  background-opacity: 0.9 !important;
}

.group:hover .group-hover\:transition-all {
  transition: all 0.3s ease-in-out;
}
.carousel__item {
  transition: all 0.5s ease-in-out;
}

.carousel__nav__item {
  transition: all 0.3s ease-in-out;
}

.carousel__nav__item--active {
  background: #ed3c3c;
  box-shadow: 0 0 16px #ed3c3c;
}

/*testimonial marquee*/
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
}